.project_container {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title {
  font-size: 2rem;
  font-family: "Montserrat";
  background-image: linear-gradient(90deg, #008080, #2cc77c);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  color: transparent;
  font-style: italic;
  margin: 2rem;
  text-align: center;
}
