.contact_button {
  color: #f1f1f1;
  padding: 0.48rem 0.72rem;
  background-color: #2cc77c;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.14);
  transition: 80ms ease-in;
}

.contact_button:hover {
  transform: translateX(-3px) translateY(3px);
  opacity: 0.9;
  box-shadow: none;
}
