.card_container {
  /* background-color: lightblue; */
  position: relative;
  width: 50%;
}
.container_left {
  left: 0%;
}
.container_right {
  left: 50%;
}
.timeline_card {
  opacity: 1;
  margin: 10px 4rem;
  position: relative;
  padding: 2rem;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  /* animation: cardPopup 2s linear forwards; */
}

.timeline_card hr {
  margin: 6px 0rem;
}
.timeline_card h2 {
  color: #2cc77c;
}
.timeline_logo_left {
  z-index: 2;
  box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 1);
  position: absolute;
  top: 32%;
  right: -4%;
  width: 8%;
  border-radius: 3rem;
}
.timeline_logo_right {
  z-index: 2;
  box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 1);
  position: absolute;
  top: 32%;
  left: -4%;
  width: 8%;
  border-radius: 3rem;
}
/* @keyframes cardPopup {
  from {
    opacity: 1;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
} */
/* 
.timeline_card:hover {
  background-color: lightblue;
} */
