nav {
  display: grid;
  grid-template-columns: 4fr 6fr 3fr;
  height: 4rem;
  position: fixed;
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.items_container,
.contact_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.items {
  position: relative;
  transition: color 200ms ease-in-out;
}
.items::after {
  position: absolute;
  bottom: -4px;
  margin: auto;
  left: 0;
  right: 0;
  content: "";
  width: 0%;
  background: #2cc77c;
  height: 3.2px;
  transition: width 200ms ease-in-out;
  border-radius: 1rem;
}
.items:hover::after {
  width: 100%;
}
.items:hover {
  color: #2cc77c;
}
.items_container {
  font-weight: 700;
  list-style: none;
}

.hamburger_icon {
  margin-right: 4px;
  padding: 0.6rem;
  border-radius: 24px;
  transition: background 200ms;
}
.hamburger_icon:active {
  background: lightgray;
}

@media screen and (max-width: 678px) {
  nav {
    grid-template-columns: 32px 4fr 2fr;
  }
}
@media screen and (max-width: 468px) {
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
